.clsOTRserveConfigBoard {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 18px;
	padding-bottom: 0px;
}

.clsOpenTableReserveDiv {
	width: 100%;
	background-color: #f1f0e6;
	height:600px;
}

.clsItemRadius {
	border: solid 1px rgb(165, 170, 165);
	-webkit-border-radius: 12px;
}

.clsConfigRow {
	font-size: 19px;
	width: 100%;
	margin: auto;
	height: 72px;
	align: center;
	vertical-align: middle;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)
		), to(rgb(239, 239, 239) ) );
}

.clsMiddleItemRadius {
	border-bottom: solid 1px rgb(165, 170, 165);
	border-left: solid 1px rgb(165, 170, 165);
	border-right: solid 1px rgb(165, 170, 165);
}

.clsTopItemRadius {
	border: solid 1px rgb(165, 170, 165);
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
}

.clsBottomItemRadius {
	border-bottom: solid 1px rgb(165, 170, 165);
	border-left: solid 1px rgb(165, 170, 165);
	border-right: solid 1px rgb(165, 170, 165);
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
}

.clsOpenTableImgTd {
	width: 54px;
}

.clsOpenTableButtonRow {
	margin-top: 18px;
	width: 100%;
	height: 72px;
}

.clsButtonBgRed {
	border: 1px solid #670001;
	-webkit-box-shadow: 2px 2px 2px #AEAEAE;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#b96b6b),
		to(#670001) );
}

.clsButtonBgRedHover {
	border-radius: 6px;
	border: 1px solid #6c0708;
	background-color: #460102;
}

.clsRestaurantMapImageDiv {
	margin-top: 18px;
	width: 494px;
	height: 288px;
}

.clsRestaurantMapImg {
	margin: auto;
	border: solid 1px grey;
}

.clsRestaurantMapButtonTable {
	margin-top: 18px;
}

/** ---------------- The Following is for Party Size Picker ---------------------------- */
.partySizeWidget {
	position: absolute;
	top: 60px;
	left: 5%;
	width: 90%;
	height: 384px;
}

.sizePickerInput {
	width: 120px;
	height: 96px;
	text-align: center;
	vertical-align: middle;
}

.sizePickerRow {
	height: 60px;
	width: 100%;
	align: center;
	vertical-align: middle;
	text-align: center;
}

.sizePickerBtnSize {
	width: 80%;
}

/** ---------------- Open Table Main Tab ---------------------------- */
.ot_allPadding {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 18px;
	padding-bottom: 18px;
}

.bg_orange {
	background-color: #ff780a;
}

.ot_deals {
	width: 100%;
	height: 36px;
}

.left_pad {
	padding-left: 18px;
}

.ot_middleHeightLine {
	height: 36px;
}
