.fc_green {
	color: #579B10;
}

.fc_gray {
	color: #666666;
}

.fc_white {
	color: white;
}

.fc_blue {
	color: #0097d7;
}

.fc_lightBlue {
	color: #aee4ff;
}

.fc_black {
	color: #333333;
}

.fc_lightGray {
	color: #c8c8c8;
}

.fc_orange {
	color: #ff780a;
}

.fs_smallest {
	font-size: 19px;
}

.fs_verySmall {
	font-size: 22px;
}

.fs_small {
	font-size: 24px;
}

.fs_middle {
	font-size: 26px;
}

.fs_large {
	font-size: 29px;
}

.fs_veryLarge {
	font-size: 31px;
}

.fs_huge {
	font-size: 34px;
}

.fs_veryHuge {
	font-size: 36px;
}

.fs_hugest {
	font-size: 38px;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

.slowBackgroundPopup {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
	border: 0px;
	opacity: 0.7;
}

.popGreyWindowBg {
	background: #787C7E;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	-webkit-box-shadow: 4px 4px 8px #31312E;
	margin-bottom: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white),
		color-stop(0.93, rgb(167, 172, 174) ), to(rgb(130, 138, 143) ) );
}

.popGreyWindowBottomRowBg {
	position: relative;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(161, 169, 173)
		), to(rgb(136, 149, 157) ) );
}

.NotShown {
	display: none;
}

.fullScreen {
	position: absolute;
	top: 0px;
	left: 0px; width : 100%;
	height: 100%;
	width: 100%;
}
