/* The Following is for timepicker*/

.timepickerBody{
	width:90%;
	position: absolute;
	top:20%;
	left: 5%;
}

.timePickerMainBoard{
	margin: auto;
	-webkit-border-radius:8px;
	width: 80%;
	height: 100%;
}

.clsPickerBtnContainer {
	width: 100%;
	height: 112px;
}

.pickerBtnRadiusTop {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.pickerBtnRadiusBottom {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.pickerBtnRadius {
	-webkit-border-radius: 8px;
}

.valueArea {
	margin-top: 16px;
	margin-bottom: 16px;
	width: 100%;
	height: 112px;
	text-align: center;
	background-color: white;
}

.pickedTimeDiv{
	font-size: 32px;
	color: white;
}

.pickerBtnSkeleton,.valueArea,.pickerPlusBtn,.pickerTitle {
	font-weight: bolder;
	font-size: 48px;
	color: #666666;
}

.pickerTitle{
	height: 96px;
}

.pickerBtnSkeleton {
	width: 100%;
	height: 100%;
	border: solid 1px #D4D4D4;
	-webkit-box-shadow: 3px 3px 3px #AEAEAE;
	vertical-align: middle;
	align: center;
	text-align: center;
}

.clsPickerBtnBgNormal {
	border: solid 1px #D4D4D4;
	-webkit-box-shadow: 3px 3px 3px #AEAEAE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)
		), color-stop(0.49, rgb(233, 233, 233) ),
		color-stop(0.5, rgb(221, 221, 221) ), to(rgb(243, 243, 243) ) );
}

.clsPickerBtnBgHL {
	border: solid 1px #067ab4;
	-webkit-box-shadow: 3px 3px 3px #AEAEAE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#46b3ee),
		color-stop(0.50, #2ea9f0), color-stop(0.51, #008ae1), to(#2babfd) );
}

.pickerBottomBar{
	width:100%;
	height: 160px;
}
